/*COLOR*/
$white: #F0F0F0;
$texte: #516079;
$black: black;
$logo: #2E3244;
$secondary: #F1895C;

/*FONT*/
$inkFree: 'Ink Free'; //navigation
$brushScript: 'Brush Script MT'; //logo
$trebuchet: 'Trebuchet MS';

body{
    margin: 0px 0px 60px 0px !important;
    background-color: $white;
    font-family: $trebuchet;
}

.mx{
    margin: 0px 30px;
}

.block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.clikable{
    cursor: pointer;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none
}
.absolute{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}