/*MIXINS FOR RESPONSIVE*/
/*Smartphone*/
@media only screen and (min-width: 50px) and (max-width: 660px) {
  body {
    margin: 0px !important;
  }
  header {
    margin: 0px 10px !important;
  }
  header nav {
    font-size: 12px;
  }
  header nav ul {
    display: none;
  }
  header .other {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  header .other button {
    font-size: 12px;
    padding: 5px 10px;
    margin: 10px 0px;
  }
  section .banniere .myVideoBg {
    width: 100%;
    min-height: 800px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .banniere .mask-video {
    min-height: 800px;
    height: auto;
  }
  section .banniere .content .related-search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .banniere .content .related-search ul {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  section .banniere .content .related-search ul .related-search-item {
    margin: 3px 5px;
  }
}
/*Tablette large*/
@media screen and (min-width: 661px) and (max-width: 991px) {
  header h2 {
    font-size: 26px;
  }
  header nav {
    display: inline-block;
    font-size: 15px;
  }
  header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  header .other {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  header .other button {
    font-size: 16px;
    padding: 10px 15px;
  }
  section .banniere .myVideoBg {
    width: 100%;
    height: 650px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .banniere .mask-video {
    height: 650px;
  }
  section .banniere .content .related-search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .banniere .content .related-search ul {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  section .banniere .content .related-search ul .related-search-item {
    margin: 3px 5px;
  }
  section .banniere article {
    position: relative;
  }
  section .banniere article .list-card {
    width: 100%;
    margin: 160px auto 30px auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  section .banniere article .list-card .card {
    width: 700%;
    height: 250px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }
  section .banniere article .list-card .card .img-card {
    height: 200px;
  }
  section .banniere article .list-card .card .img-card img {
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .banniere article .list-card .card .footer-card {
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
  }
  section .banniere article .list-card .card .footer-card .pub-owner {
    display: flex;
    align-items: center;
  }
  section .banniere article .list-card .card .footer-card .pub-owner img {
    height: 25px;
    margin-right: 5px;
    width: 25px;
    border-radius: 25px;
  }
  section article {
    position: relative;
  }
  section article .list-card {
    width: 100%;
    margin: 100px auto 30px auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  section article .list-card .card {
    width: 50%;
    height: 200px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }
  section article .list-card .card .img-card {
    height: 200px;
  }
  section article .list-card .card .img-card img {
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  section article .list-card .card .footer-card {
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }
  section article .list-card .card .footer-card .pub-owner {
    display: flex;
    align-items: center;
  }
  section article .list-card .card .footer-card .pub-owner img {
    height: 25px;
    margin-right: 5px;
    width: 25px;
    border-radius: 25px;
  }
}
/*Desktop*/
@media screen and (min-width: 992px) {
  header h2 {
    font-size: 30px;
  }
  header nav {
    font-size: 18px;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  header .other {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  header .other button {
    font-size: 16px;
    padding: 10px 15px;
  }
  section .banniere .myVideoBg {
    width: 100%;
    height: 560px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .banniere .content .related-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  section .banniere .content .related-search ul {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  section .banniere .content .related-search ul .related-search-item {
    margin: 3px 5px;
  }
}
@media screen and (max-width: 478px) {
  section .banniere .myVideoBg {
    width: 100%;
    min-height: 1000px !important;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .banniere .mask-video {
    min-height: 1000px !important;
    height: auto;
  }
}
@media screen and (max-width: 397px) {
  section .banniere .myVideoBg {
    width: 100%;
    min-height: 800px !important;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .banniere .mask-video {
    min-height: 800px !important;
    height: auto;
  }
  section .banniere .content .related-search {
    display: none !important;
  }
}
@media screen and (max-width: 525px) {
  section .banniere .content .top-tab-list ul {
    margin: 0px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }
  section .banniere .content .top-tab-list ul .top-tab-item {
    margin: 5px;
  }
}/*# sourceMappingURL=responsive.css.map */