@use 'global';

/*Header style*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    h2{
        font-family: global.$brushScript, Courier;
        color: global.$logo;
        a{
            color: global.$logo;
        }
    }
    nav {
        width: 50%;
        color: global.$texte;
        ul{
            li{
                list-style-type: none;
                font-family: global.$inkFree, 'Trebuchet MS';
                i{
                    margin: 0px 5px;
                    color: global.$secondary;
                }
                i:nth-child(2){
                    color: global.$texte;
                    font-size: 12px;
                }
            }
            
        }
    }
    .other {
        height: 50px;
        margin-left: 25%;
        .search-icone i{
            font-size: 20px;
            transition: 0.5s;
            &:hover{
                transform: rotateY(180deg);
            }
        }
        button{
            font-weight: bold;
            padding: 10px 15px;
            color: global.$white;
            border: none;
            border-radius: 10px;
            background-color: global.$secondary;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

/*SECTION STYLE*/

section{
    .scroll-to-top{
        position: fixed;
        z-index: 10;
        bottom: 15px;
        right: 15px;
        text-align: center;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: global.$secondary;
        i{
            color: global.$white;
        }
    }
    .banniere{
        height: 560px;
        position: relative;
        .mask-video{
            background-color: black;
            opacity: 0.5;
            z-index: 2;
        }
        .content{
            color: white;
            z-index: 3;
            .top-tab-list{
                ul{
                    margin: 50px 90px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .top-tab-item{
                        cursor: pointer;
                        font-size: 18px;
                        padding: 20px 25px;
                        background-color: rgba(0, 0, 0, 0.6);
                        border-radius: 30px;
                        &:hover{
                            color: global.$black;
                            background-color: global.$white;
                        }
                    }
                }
            }
            .description-banniere{
                width: 50%;
                margin: auto;
                text-align: center;
                h1{
                    font-size: 36px;
                    font-weight: bolder;
                    font-family: global.$trebuchet, Courier;
                }
                p{
                    font-size: 16px;
                    font-family: global.$inkFree ,Courier;
                }
            }
            .bar-search{
                width: 50%;
                margin: 50px auto;
                input{
                    width: 95%;
                    height: 60px;
                    border-radius: 30px;
                    padding: 10px 50px;
                    &:focus{
                        border: 1px solid global.$secondary;
                    }
                }
            }
            .related-search{
                ul{
                    .related-search-item{
                        cursor: pointer;
                        padding: 5px 15px;
                        border: 1px solid global.$texte;
                        border-radius: 20px;
                        &:hover{
                            border-color: global.$white;
                        }
                    }
                }
            }
        }
    }
}